# Lots of junk goes in here.
caches/
backups/

# Don't commit uninteresting stuff
link/.config/*
link/.config/fish/fish_history
link/.config/fish/fishd*
link/.config/gtk-3.0/servers
link/.gnucash/*
link/.i3/logs
link/.i3/scripts/.mail.sh.x
link/.kde4
link/.local/bin/kakarot
link/.local/bin/pcre-8.34
link/.local/bin/cm2*
link/.local/bin/cmark.py
link/.local/bin/ld.gold
link/.local/bin/livereload
link/.local/bin/sphinx-*
link/.local/bin/watchmedo
link/.local/lib/python*
link/.local/share/*
link/.vim/.netrwhist
link/.vim/sessions/*.lock
link/.xchat2/scrollback
link/.xchat2/xchatlogs
link/Images/Screenshots
link/Images/Web
link/rendu/.cache.gws

# Keep interesting stuff
!link/.config/conky
!link/.config/dunst/dunstrc
!link/.config/fish/config.fish
!link/.config/fontconfig/fonts.conf
!link/.config/gtk-3.0/gtk.css
!link/.config/gtk-3.0/settings.ini
!link/.config/redshift.conf
!link/.config/synapse/config.json
!link/.gnucash/saved-reports-2.4
!link/.local/share/konsole/Linux.colorscheme
!link/.local/share/konsole/Shell.profile
!link/.local/share/konsole/Terminal.profile
!link/.local/share/konsole/WhiteOnBlack.colorscheme
!link/.local/share/systemd/user

# Top secret stuff!
link/.ssh/authorized_keys
link/.ssh/id_*
link/.ssh/*.pem
link/.ssh/known_hosts

# Don't commit Vim plugins, Vundle will install them.
link/.vim/bundle
link/.vim/tmp

# Ignore temporary files
*~
\#*\#
*.pyc

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
