[user]
	# TO_CHANGE: Email
	email = quent42340@gmail.com
	# TO_CHANGE: Full name
	name = Quentin Bazin
[push]
	default = simple
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-tree --name-only HEAD
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[credential]
	helper = /usr/lib/git-core/git-credential-gnome-keyring
