#!/bin/sh

eval $(gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export GNOME_KEYRING_CONTROL GPG_AGENT_INFO SSH_AUTH_SOCK

# export QT_STYLE_OVERRIDE=gtk2
# export QT_QPA_PLATFORMTHEME=gtk2

