[Unit]
Description=DBus Popup Manager Service
After=dbus.service

[Service]
ExecStart=/usr/bin/python3 /home/%u/.config/polybar/dbus/server.py
ExecStop=/usr/bin/python3 /home/%u/.config/polybar/dbus/server.py stop
Restart=on-failure

[Install]
WantedBy=default.target
